
section.container
  article.row

    col-lg-4.col-sm-4.col-xs-12
      h2 CocoaPods Events

    col-lg-8.col-sm-8.col-xs-12 style="padding-top:32px;"
      markdown:
        ### Code of Conduct
         All attendees, speakers, sponsors and volunteers at our meetup are required to agree with the following code of conduct. Team members will enforce this code throughout the event. We are expecting cooperation from all participants to help ensuring a safe environment for everybody.

        ### tl;dr: Don’t be a Jerk

        Our meetups are dedicated to providing a harassment-free experience for everyone, regardless of gender, age, sexual orientation, disability, physical appearance, body size, race, or religion. We do not tolerate harassment of participants in any form. Sexual language and imagery is not appropriate for any parts of our events, including talks, workshops, Twitter and other online media. Attendees violating these rules may be sanctioned or expelled from this meetup and/or any future meetups at the discretion of the meetup organisers. You can report violators to [info@cocoapods.org](mailto:info@cocoapods.org) if you prefer to not do so in-person.

    col-lg-4.col-sm-4.col-xs-12
        <h2>Privacy Policy</h2>

    col-lg-8.col-sm-8.col-xs-12 style="padding-top:32px;"
      markdown:

        CocoaPods ("CocoaPods" or the "Company") is committed to protecting the privacy
        of your information. This privacy statement describes CocoaPods's privacy
        practises.

        ##### Covered

        This privacy policy covers the information practises of any CocoaPods product or
        service.

        ##### Information Collected

        CocoaPods offers a variety of services that are collectively referred to as the
        "Services". CocoaPods collects information from individuals who visit the
        Company's Web site ("Visitors") and individuals who register to use the
        Services ("Customers").

        We collect the e-mail addresses of those who communicate with us via e-mail,
        aggregate information on what pages consumers access or visit, and information
        volunteered by the consumer (such as survey information and/or site
        registrations). The information we collect is used to improve the content of
        our Web pages and the quality of our service, and is not shared with or sold to
        other organizations for commercial purposes, except to provide products or
        services you've requested, when we have your permission, or under the following
        circumstances:

        * It is necessary to share information in order to investigate, prevent, or
          take action regarding illegal activities, suspected fraud, situations
          involving potential threats to the physical safety of any person, violations
          of the Terms of Service, or as otherwise required by law.

        * We transfer information about you if CocoaPods is acquired by or merged with
          another company. In this event, CocoaPods will notify you before information
          about you is transferred and becomes subject to a different privacy policy.

        ##### Data

        CocoaPods uses third party vendors and hosting partners to provide the necessary
        hardware, software, networking, storage, and related technology required to
        run CocoaPods. Although CocoaPods owns the code, databases, and all rights to the
        CocoaPods application, you retain all rights to your data.

        ##### Disclosure

        CocoaPods may disclose personally identifiable information under special
        circumstances, such as to comply with subpoenas or when your actions violate
        the Terms of Service

        ##### Changes

        CocoaPods reserves the right to change this Privacy Statement. CocoaPods will
        provide notification of the material changes to this Privacy Statement
        through the Company’s Web site at least thirty (30) business days prior to
        the change taking effect.

        ##### Questions

        Questions about the Privacy Policy should be sent to
        [info@CocoaPods.org](mailto:info@CocoaPods.org).

    col-lg-4.col-sm-4.col-xs-12
        <h2>Terms of Service</h2>

    col-lg-8.col-sm-8.col-xs-12 style="padding-top:32px;"
      markdown:

        ## General Term of Service

        Welcome to Cocoapods (“we” or “us” or our”). By using the CocoaPods web site
        (the “Site”) or any of our services (together with the Site, the “Service”) in
        any way, you (“you” or “your”) agree to be bound by the following Terms of
        Service (“Terms”). IF YOU ARE USING THE SERVICE AND ACCEPTING THESE TERMS ON
        BEHALF OF A COMPANY OR OTHER LEGAL ENTITY, YOU REPRESENT THAT YOU HAVE THE
        AUTHORITY TO BIND SUCH ENTITY TO THESE TERMS , IN WHICH CASE THE TERMS "YOU"
        AND "YOUR" IN THESE TERMS WILL REFER TO SUCH ENTITY. IF YOU DO NOT HAVE SUCH
        AUTHORITY OR YOU DO NOT AGREE TO THESE TERMS, YOU ARE NOT PERMITTED TO ACCESS
        OR USE THE SERVICES.

        Our Service changes with time, and we may update or modify any or all of these
        Terms from time to time. We will post any updates on the Site, so you can
        inform yourself of the current terms and conditions that apply to your use of
        the Service. If we make changes to these Terms that in our sole discretion are
        material, we will notify you by email and/or by posting an additional notice on
        the Site before the changes become effective, unless the changes are made for
        legal reasons. All changes to these Terms will be effective when posted on the
        Site, unless we specify otherwise. Your continued use of the Service after any
        changes to these Terms become effective will constitute your consent to those
        changes. Please review this page regularly to be informed of the current Terms.
        Violation of any of these Terms will result in the termination of your account.
        While we may have rules for user conduct and for the images, text, information,
        data, scripts, code, audio, video, and other material (collectively, “Content”)
        located on or transmitted via the Service, you understand and agree that we
        cannot and will not be responsible for any Content located on or transmitted
        via the Service, and that by using the Service, you may be exposed to Content
        that is inaccurate, misleading or otherwise objectionable, or that otherwise
        does not comply with these Terms. You agree that your use of the Service is at
        your own risk.

        ### General Conditions

        1. Your use of the Service is at your sole risk.  We provide the Service on an
        "AS IS" and "AS AVAILABLE" basis.

        2. Support for the Service is only available in English, via email.

        3. You understand that we use third party vendors and hosting partners to
        provide the necessary hardware, software, networking, storage, and related
        technology required to operate the Service. We do not control or guarantee and
        are not responsible for the acts, omissions, policies or services of those
        third parties.

        4. You must not (i) modify, adapt or hack the Service, (ii) interfere (or
        attempt to interfere) with the access of any other user or the normal operation
        of the Service, or (iii) operate or modify any other website or application in
        any way that falsely implies that it is associated with or endorsed by us or
        the Service.

        5. You agree not to reproduce, duplicate, copy, sell, resell or exploit any
        portion of the Service, use of the Service, or access to the Service without
        our express prior written permission.

        6. We do not represent or warrant that (i) the Service or any Content will meet
        your requirements or expectations, or be uninterrupted, timely, secure,
        accurate, reliable, error-free, or free of viruses or other harmful components,
        (ii) the results that may be obtained from the use of the Service will be
        accurate or reliable; (iii) the use of the Service in any manner will give rise
        to any specific results, and/or (iv) any errors in the Service or any Content
        will be corrected. TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, WE
        EXPRESSLY DISCLAIM ALL WARRANTIES WITH REGARD TO THE SERVICE AND ALL CONTENT,
        INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY,
        NON-INFRINGEMENT, AND FITNESS FOR A PARTICULAR PURPOSE, AND ANY WARRANTIES
        ARISING FROM COURSE OF DEALING OR INDUSTRY CUSTOM.

        7. YOU EXPRESSLY UNDERSTAND AND AGREE THAT WE WILL NOT, UNDER ANY
        CIRCUMSTANCES, BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY DIRECT, INDIRECT,
        INCIDENTAL, SPECIAL, CONSEQUENTIAL, OR EXEMPLARY DAMAGES, OR FOR ANY LOSS OF
        PROFITS, REVENUE, BUSINESS, DATA, USE, GOODWILL OR OTHER INTANGIBLE LOSSES,
        ARISING OR RESULTING (DIRECTLY OR INDIRECTLY) FROM: (i) THE USE OF OR INABILITY
        TO USE THE SERVICE, INCLUDING, BUT NOT LIMITED TO, ANY TERMINATION OR
        SUSPENSION OF SERVICE; (ii) THE COST OF PROCUREMENT OF SUBSTITUTE GOODS OR
        SERVICES RESULTING FROM ANY CONTENT, GOODS OR SERVICES PURCHASED OR OBTAINED OR
        MESSAGES RECEIVED OR TRANSACTIONS ENTERED INTO THROUGH OR FROM THE SERVICE;
        (iii) ANY UNAUTHORIZED ACCESS TO OR USE OR ALTERATION OF YOUR CONTENT,
        TRANSMISSIONS OR DATA; (iv) ANY STATEMENT OR CONDUCT (ONLINE OR OFFLINE) OF ANY
        THIRD PARTY ON THE SERVICE OR IN ANY WAY CONNECTED WITH THE SERVICE OR YOUR USE
        OF THE SERVICE; OR (v) ANY OTHER MATTER RELATING TO THE SERVICE. THE EXCLUSIONS
        AND LIMITATIONS OF LIABILITY PROVIDED IN THIS SECTION APPLY TO ALL CLAIMS,
        WHETHER BASED ON WARRANTY, CONTRACT, STATUTE, TORT (INCLUDING NEGLIGENCE),
        STRICT LIABILITY, OR ANY OTHER LEGAL THEORY, WHETHER OR NOT WE HAVE BEEN
        ADVISED OF OR SHOULD HAVE KNOWN OF THE POSSIBILITY OF SUCH DAMAGE OR LOSS, AND
        EVEN IF A REMEDY SET FORTH IN THESE TERMS IS FOUND TO HAVE FAILED OF ITS
        ESSENTIAL PURPOSE. SOME JURISDICTIONS MAY NOT ALLOW THE EXCLUSIONS OR
        LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, SO SOME OF THE
        EXCLUSIONS AND LIMITATIONS PROVIDED IN THIS SECTION MAY NOT APPLY TO YOU, IN
        WHICH CASE OUR LIABILITY WILL BE LIMITED TO THE FULLEST EXTENT PERMITTED BY
        APPLICABLE LAW.

        8. No delay or failure by us to exercise or enforce any right or provision of
        these Terms will constitute a waiver of that or any other right or provision.
        These Terms constitute the entire agreement and understanding between you and
        us regarding the Service, and supersede any other written, oral or implied
        communications, statements or understandings between you and us regarding the
        Service (including, but not limited to, any prior versions of these Terms).

        9. You agree that these Terms (and the rights and obligations of you and us
        under these Terms) will be governed by English law.

        10. We reserve the right at any time and from time to time to update, change,
        modify or discontinue the Service (or any part thereof), temporarily or
        permanently, at our sole discretion, without liability, and with or without
        notice.

        11. If you have any questions about these Terms, please email us at
        info@CocoaPods.org.

        ## Copyright and Content Ownership

        1. You retain your rights to any Content you submit, post or display on or
        through the Services. By submitting, posting or displaying Content on or
        through the Services, you grant us a worldwide, non-exclusive, royalty-free
        license (with the right to sub-license) to use, copy, reproduce, process,
        adapt, modify, publish, transmit, display and distribute such Content in any
        and all media or distribution methods (now known or later developed).

        2. We do not moderate or monitor Content (and we are not responsible for doing
        so), but we and our designee have the right (but not the obligation), at any
        time in our sole discretion to monitor, refuse or remove any Content on or
        available via the Service.

        3. You agree to indemnify, defend, and hold harmless CocoaPods (and, as
        applicable, our officers, directors, agents, and employees) from and against
        any and all claims, demands, suits, and proceedings made or brought by any
        third party, and all related damages, judgments, losses, liabilities, and
        expenses (including reasonable attorneys’ fees), arising or resulting from any
        allegation that your Content, or your use of the Service in violation of this
        Agreement, violates any applicable law or any intellectual property right or
        other right of any third party; provided that we (a) promptly give you written
        notice of such claim, demand, suit or proceeding; (b) give you sole control of
        the defence and settlement of such claim, demand, suit or proceeding (provided
        you may not settle any such claim, demand, suit or proceeding unless the
        settlement unconditionally releases us (and, as applicable, our officers,
        directors, agents, and employees) of all liability); and (c) provide you with
        such cooperation as you may reasonably require in such defense, at your expense.

        4. The look and feel of the Service is copyright ©2015 CocoaPods. All rights
        reserved. You may not duplicate, copy, or reuse any portion of the HTML/CSS,
        JavaScript, or visual design elements or concepts without our express prior
        written permission.

        ## Cancellation and Termination

        1. All Content that you uploaded or otherwise added to the Service will be
        immediately deleted from the Service upon cancellation of your account. This
        information can not be recovered once your account is cancelled. We encourage
        all users to backup their data at all times.

        2. We reserve the right to suspend or terminate your account and/or any and all
        current or future access to or use of any and all of the Service, for any
        reason, without liability, at any time at our sole discretion. Such termination
        may result in the deactivation or deletion of your account and your access to
        your account, and/or the deletion, forfeiture and/or relinquishment of all
        Content previously made available on or through the Service under your account.
        We reserve the right to refuse service to anyone for any reason at any time.
