
section.container
  article.row

    col-lg-4.col-sm-4.col-xs-12
      h2 CocoaPods Events
      
    col-lg-8.col-sm-8.col-xs-12 style="padding-top:32px;"
      markdown: 
        ### Code of Conduct
         All attendees, speakers, sponsors and volunteers at our meetup are required to agree with the following code of conduct. Team members will enforce this code throughout the event. We are expecting cooperation from all participants to help ensuring a safe environment for everybody.

        ### tl;dr: Don’t be a Jerk

        Our meetups are dedicated to providing a harassment-free experience for everyone, regardless of gender, age, sexual orientation, disability, physical appearance, body size, race, or religion. We do not tolerate harassment of participants in any form. Sexual language and imagery is not appropriate for any parts of our events, including talks, workshops, Twitter and other online media. Attendees violating these rules may be sanctioned or expelled from this meetup and/or any future meetups at the discretion of the meetup organisers. You can report violators to [info@cocoapods.org](mailto:info@cocoapods.org) if you prefer to not do so in-person.

    col-lg-4.col-sm-4.col-xs-12
        <h2>Privacy Policy</h2>
      
    col-lg-8.col-sm-8.col-xs-12 style="padding-top:32px;"
      markdown: 
        
        CocoaPods ("CocoaPods" or the "Company") is committed to protecting the privacy
        of your information. This privacy statement describes CocoaPods's privacy
        practises.

        ##### Covered

        This privacy policy covers the information practises of any CocoaPods product or
        service.

        ##### Information Collected

        CocoaPods offers a variety of services that are collectively referred to as the
        "Services". CocoaPods collects information from individuals who visit the
        Company's Web site ("Visitors") and individuals who register to use the
        Services ("Customers").

        We collect the e-mail addresses of those who communicate with us via e-mail,
        aggregate information on what pages consumers access or visit, and information
        volunteered by the consumer (such as survey information and/or site
        registrations). The information we collect is used to improve the content of
        our Web pages and the quality of our service, and is not shared with or sold to
        other organizations for commercial purposes, except to provide products or
        services you've requested, when we have your permission, or under the following
        circumstances:

        * It is necessary to share information in order to investigate, prevent, or
          take action regarding illegal activities, suspected fraud, situations
          involving potential threats to the physical safety of any person, violations
          of the Terms of Service, or as otherwise required by law.

        * We transfer information about you if CocoaPods is acquired by or merged with
          another company. In this event, CocoaPods will notify you before information
          about you is transferred and becomes subject to a different privacy policy.

        ##### Data

        CocoaPods uses third party vendors and hosting partners to provide the necessary
        hardware, software, networking, storage, and related technology required to
        run CocoaPods. Although CocoaPods owns the code, databases, and all rights to the
        CocoaPods application, you retain all rights to your data.

        ##### Disclosure

        CocoaPods may disclose personally identifiable information under special
        circumstances, such as to comply with subpoenas or when your actions violate
        the Terms of Service

        ##### Changes

        CocoaPods reserves the right to change this Privacy Statement. CocoaPods will
        provide notification of the material changes to this Privacy Statement
        through the Company’s Web site at least thirty (30) business days prior to
        the change taking effect.

        ##### Questions

        Questions about the Privacy Policy should be sent to
        [info@CocoaPods.org](mailto:info@CocoaPods.org).
        
    col-lg-4.col-sm-4.col-xs-12
        <h2>Terms of Service</h2>
      
    col-lg-8.col-sm-8.col-xs-12 style="padding-top:32px;"
      markdown: 

        By using the CocoaPods.org web site ("Service"), or any services of CocoaPods
        (CocoaPods), you are agreeing to be bound by the following terms and conditions
        ("Terms of Service"). IF YOU ARE ENTERING INTO THIS AGREEMENT ON BEHALF OF A
        COMPANY OR OTHER LEGAL ENTITY, YOU REPRESENT THAT YOU HAVE THE AUTHORITY TO
        BIND SUCH ENTITY, ITS AFFILIATES AND ALL USERS WHO ACCESS OUR SERVICES THROUGH
        YOUR ACCOUNT TO THESE TERMS AND CONDITIONS, IN WHICH CASE THE TERMS "YOU" OR
        "YOUR" SHALL REFER TO SUCH ENTITY, ITS AFFILIATES AND USERS ASSOCIATED WITH IT.
        IF YOU DO NOT HAVE SUCH AUTHORITY, OR IF YOU DO NOT AGREE WITH THESE TERMS AND
        CONDITIONS, YOU MUST NOT ACCEPT THIS AGREEMENT AND MAY NOT USE THE SERVICES.

        If CocoaPods makes material changes to these Terms, we will notify you by email
        or by posting a notice on our site before the changes are effective. Any new
        features that augment or enhance the current Service, including the release
        of new tools and resources, shall be subject to the Terms of Service.
        Continued use of the Service after any such changes shall constitute your
        consent to such changes. You can review the most current version of the Terms
        of Service at any time at:
        [http://CocoaPods.org/terms-of-service/](http://CocoaPods.org/terms-of-service/).

        Violation of any of the terms below will result in the termination of your
        Account. While CocoaPods prohibits such conduct and Content on the Service, you
        understand and agree that CocoaPods cannot be responsible for the Content posted
        on the Service and you nonetheless may be exposed to such materials. You agree
        to use the Service at your own risk.

        ### General Conditions

        1. Your use of the Service is at your sole risk. The service is provided on
           an "as is" and "as available" basis.

        2. Support for CocoaPods services is only available in English, via email.

        3. You understand that CocoaPods uses third party vendors and hosting partners
           to provide the necessary hardware, software, networking, storage, and
           related technology required to run the Service.

        4. You must not modify, adapt or hack the Service or modify another website
           so as to falsely imply that it is associated with the Service, CocoaPods, or
           any other CocoaPods service.

        5. You agree not to reproduce, duplicate, copy, sell, resell or exploit any
           portion of the Service, use of the Service, or access to the Service
           without the express written permission by CocoaPods.

        6. CocoaPods does not warrant that (i) the service will meet your specific
           requirements, (ii) the service will be uninterrupted, timely, secure,
           or error-free, (iii) the results that may be obtained from the use of the
           service will be accurate or reliable, (iv) the quality of any products,
           services, information, or other material purchased or obtained by you
           through the service will meet your expectations, and (v) any errors in the
           Service will be corrected.

        7. You expressly understand and agree that CocoaPods shall not be liable for any
           direct, indirect, incidental, special, consequential or exemplary damages,
           including but not limited to, damages for loss of profits, goodwill, use,
           data or other intangible losses (even if CocoaPods has been advised of the
           possibility of such damages), resulting from: (i) the use or the inability
           to use the service; (ii) the cost of procurement of substitute goods and
           services resulting from any goods, data, information or services purchased
           or obtained or messages received or transactions entered into through or
           from the service; (iii) unauthorised access to or alteration of your
           transmissions or data; (iv) statements or conduct of any third party on
           the service; (v) or any other matter relating to the service.

        8. The failure of CocoaPods to exercise or enforce any right or provision of
           the Terms of Service shall not constitute a waiver of such right or
           provision. The Terms of Service constitutes the entire agreement between
           you and CocoaPods and govern your use of the Service, superseding any prior
           agreements between you and CocoaPods (including, but not limited to, any prior
           versions of the Terms of Service). You agree that these Terms of Service
           and Your use of the Service are governed under English law.

        9. CocoaPods reserves the right at any time and from time to time to modify or
           discontinue, temporarily or permanently, the Service (or any part thereof)
           with or without notice.

        10. Questions about the Terms of Service should be sent to
            [info@CocoaPods.org](mailto:info@CocoaPods.org).

        ### Copyright and Content Ownership

        1. You retain your rights to any Content you submit, post or display on or
           through the Services. By submitting, posting or displaying Content on or
           through the Services, you grant us a worldwide, non-exclusive,
           royalty-free license (with the right to sub-license) to use, copy,
           reproduce, process, adapt, modify, publish, transmit, display and
           distribute such Content in any and all media or distribution methods
           (now known or later developed).

        2. CocoaPods does not moderate Content, but CocoaPods and its designee have the
           right (but not the obligation) in their sole discretion to refuse or
           remove any Content that is available via the Service.

        3. You shall defend CocoaPods against any claim, demand, suit or proceeding
           made or brought against CocoaPods by a third party alleging that Your Content,
           or Your use of the Service in violation of this Agreement, infringes or
           misappropriates the intellectual property rights of a third party or
           violates applicable law, and shall indemnify CocoaPods for any damages
           finally awarded against, and for reasonable attorney’s fees incurred by,
           CocoaPods in connection with any such claim, demand, suit or proceeding;
           provided, that CocoaPods (a) promptly gives You written notice of the claim,
           demand, suit or proceeding; (b) gives You sole control of the defence and
           settlement of the claim, demand, suit or proceeding (provided that You may
           not settle any claim, demand, suit or proceeding unless the settlement
           unconditionally releases CocoaPods of all liability); and (c) provides to You
           all reasonable assistance, at Your expense.

        4. The look and feel of the Service is copyright ©2014 CocoaPods. All rights
           reserved. You may not duplicate, copy, or reuse any portion of the
           HTML/CSS, JavaScript, or visual design elements or concepts without
           express written permission from CocoaPods.

        ### Cancellation and Termination

        1. All of your Content will be immediately deleted from the Service upon
           cancellation. This information can not be recovered once your account is
           cancelled.

        2. CocoaPods, in its sole discretion, has the right to suspend or terminate your
           account and refuse any and all current or future use of the Service, or
           any other CocoaPods service, for any reason at any time. Such termination of
           the Service will result in the deactivation or deletion of your Account or
           your access to your Account, and the forfeiture and relinquishment of all
           Content in your Account. CocoaPods reserves the right to refuse service to
           anyone for any reason at any time.
        
        