doctype xml

OpenSearchDescription xmlns:moz="http://www.mozilla.org/2006/browser/search/" xmlns="http://a9.com/-/spec/opensearch/1.1/"
  ShortName CocoaPods
  Description Search for CocoaPods
  InputEncoding UTF-8
  Url type="text/html" method="get" template="https://cocoapods.org/?q={searchTerms}"/
  Url type="application/opensearchdescription+xml" rel="self" template="https://cocoapods.org/opensearch.xml"/

  moz:SearchForm https://cocoapods.org
  Query role="example" searchTerms="orstackview"
  AdultContent false
