ruby:
  instance_exec do
    def pod_owner_pods
      if @pods.length == 1
        "<span>1</span>pod"
      else
        "<span>" + @pods.length.to_s + "</span>pods"
      end
    end
  end

css:
  #headline {
    height:320px;
    padding:0;
  }

  #headline > div {
    position: relative;
    height:100%;
  }

  #headline > div > h1 {
    bottom: 20px;
    left: 0px;
    font-size: 72px;
    font-weight:normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 74px;
    line-height: 63px;
    color: #ED0015;
    position: absolute;
    padding: 0;
    margin-bottom: 0;
    width:100%;
  }

  #headline img#gravatar {
    border-radius:60px;
    bottom: 20px;
    right: 20px;
    position: absolute;
  }

  hr {
    margin-top:8px;
    border-top: 3px solid whitesmoke;
    margin-bottom: 60px;
  }

  h1 span {
    color: whitesmoke;
  }

  h2 {
    word-wrap:break-word;
    margin-bottom:0px;
    padding-left:12px;
    padding-top:18px;
  }

  ul.metrics {
    display:block;
    clear:left;
    padding:0;
    margin-left:-12px;
    margin-bottom:2px;
  }

  ul.metrics li {
    display:inline-block;
    padding:0 24px;
    padding-top:4px;
    font-size: 18px;
    color: rgba(37,37,37,0.44);
    line-height: 24px;
    border-right: 2px whitesmoke solid;
    height: 36px;
  }

  ul.metrics li:last-child {
    border-right:none;
  }

  ul.metrics li:first-child {
    position:relative;
    top:6px;
    height:38px;
  }

  ul.metrics li:first-child .quality_indicator {
    margin-left:0;
  }

  @media (max-width:768px){
    #headline {
      height:120px;
    }
    #headline > div > h1 {
      font-size:32px;
      text-align:center;
    }
    #headline img#gravatar {
      border-radius:40px;
      height:80px;
      width:80px;
    }
  }

  #owner {
    padding-top:60px;
  }

  .owner .pods, .owner .impact {
    background-color:white;
    margin-top:48px;
  }

  .owner .impact {
    min-height:180px;
  }

  .owner .impact p span {
    font-size: 96px;
    color:black;
  }

  .owner .impact p {
    font-size: 16px;
    color: #7D7D7D;
    line-height: 19px;
  }

  .owner .impact.title p {
    position: absolute;
    bottom: 0;
    left: 32px;
  }
  @media (max-width:768px){
    .owner .impact p span {
      font-size: 36px;
    }
    .owner .impact.title p {
      left:16px;
    }
  }

  .owner .pods {
    margin-top:24px;
    margin-bottom: 24px;
  }

  table thead h2 {
    padding-left:0;
    margin-top:10px;
    padding-top:0;
    margin-bottom:0;
    font-size:24px;
  }

  table tr {
    display: inline-block;
    padding:0 12px;
  }

  table tr td {
    display: block;
    height: 48px;
    font-size:16px;
    color: #7D7D7D;

  }

  table tr td.result {
    font-size: 36px;
    margin-top:12px;
    color:black;
  }

  table tr td.result.pod_count {
    font-size: 64px;
    line-height: 32px;
    font-weight:bold;
  }

section.container
  article.row#headline
    .col-xs-12
      h1 == @owner.name
      img#gravatar src=@gravatar_url width=120 height=120

#content-wrapper.owner
  section.container
    article.row
      .col-xs-3.impact.title
        p == pod_owner_pods

    article.row
      - @pods.each do |pod|
        .col-sm-12.pods
          a href="/pods/#{pod[:name]}"
            h2 == pod[:name]

          .col-sm-8
            == pod[:cocoadocs_pod_metric][:rendered_summary]

          .col-sm-4
            p == "License: <a href='#{pod[:cocoadocs_pod_metric][:license_canonical_url]}'>#{pod[:cocoadocs_pod_metric][:license_short_name]}</a>"

          ul.metrics
            li == pod[:cocoadocs_pod_metric][:dominant_language]
