section.container
  article.row#headline
    .col-lg-12.col-sm-12.col-xs-12
      h1 == @pod.name + " <span>" + @pod.version.to_s + "</span>"

#content-wrapper
  section.container#pod-page
    article.row
      == @content

javascript:
  $copy_to_clipboard = $('ol.results img.copy')

  var clip = new ZeroClipboard(
    $copy_to_clipboard, {
      moviePath: "/flashes/ZeroClipboard.swf",
      forceHandCursor: true
    }
  );

  clip.on( 'noflash', function ( client, args ) {

    // provide a recursive wait method
    // that checks for the hover on the popover/clipboard
    // before hiding so you can select text

    function closePopoverForNode(node){
      setTimeout(function() {
        if (!$(node).is(':hover') && !$(".popover:hover").length) {
          $(node).popover("hide")
        } else {
          closePopoverForNode(node)
        }
      }, 500);
    }

    // With no flash you should be able to select the text
    // in the popover

    $copy_to_clipboard.popover({
      trigger: "manual",
      container: "body"

    }).on("click", function(e) {
      e.preventDefault();

    }).on("mouseenter", function() {
      $(this).popover("show");
      $(".popover input").select()

    }).on("mouseleave", function() {
      closePopoverForNode(this)
    });
  });

  // When Flash works, jusst do a normal popover
  clip.on("load", function(client) {

    client.on( "complete", function(client, args) {
      $("h4.has-flash").text("Saved to clipboard");
      $(".popover").addClass("saved")
    });

    clip.on( 'mouseover', function ( client, args ) {
      $(this).popover('show')
    });

    clip.on( 'mouseout', function ( client, args ) {
      $(this).popover('hide')
    });
  });
  
  // When the page loads up check for a #changelog and load the changelog instead of the README if possible
  $(document).ready(function() {
    if ($("#asset_switcher").length == 0) { return }
    if (location.hash == "#changelog") {
      $("#changelog_tab").click()
    }
    
    // Make it easy to get a changelog URL for C+P
    $('#asset_switcher a').on('shown.bs.tab', function (e) { 
      var is_changelog = $(e.target).data("target") == "#changelog"
      var new_hash = (is_changelog) ? "#changelog" : ""
      history.replaceState(null, null, new_hash)
    })
    
  })
