css:
  #headline {
    height:320px;
    padding:0;
  }
  
  #headline > div {
    position: relative;
    height:100%;
  }
    
  #headline > div > h1 {
    bottom: 20px;
    left: 0px;
    font-size: 72px;
    font-weight:normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 74px;
    line-height: 63px;
    color: #ED0015;
    position: absolute;
    padding: 0;
    margin-bottom: 0; 
    width:100%;
  }
  
  h1 span {
    color: whitesmoke;
  }
  
  @media (max-width:768px){
    #headline {
      height:120px;
    }
    #headline > div > h1 {
      font-size:32px;
      text-align:center;
    }
  }

section.container
  article.row#headline  
    .col-lg-12.col-sm-12.col-xs-12
      h1 == @pod["name"] + " <span>" + @pod["version"] + "</span>"
      

#content-wrapper
  section.container#pod-page
    article.row
      == @content
      
javascript:
  $copy_to_clipboard = $('ol.results img.copy')

  var clip = new ZeroClipboard(
    $copy_to_clipboard, {
      moviePath: "/flashes/ZeroClipboard.swf",
      forceHandCursor: true
    }
  );

  clip.on( 'noflash', function ( client, args ) {

    // provide a recursive wait method
    // that checks for the hover on the popover/clipboard
    // before hiding so you can select text

    function closePopoverForNode(node){
      setTimeout(function() {
        if (!$(node).is(':hover') && !$(".popover:hover").length) {
          $(node).popover("hide")
        } else {
          closePopoverForNode(node)
        }
      }, 500);
    }

    // With no flash you should be able to select the text
    // in the popover

    $copy_to_clipboard.popover({
      trigger: "manual",
      container: "body"

    }).on("click", function(e) {
      e.preventDefault();

    }).on("mouseenter", function() {
      $(this).popover("show");
      $(".popover input").select()

    }).on("mouseleave", function() {
      closePopoverForNode(this)
    });
  });

  // When Flash works, jusst do a normal popover
  clip.on("load", function(client) {

    client.on( "complete", function(client, args) {
      $("h4.has-flash").text("Saved to clipboard");
      $(".popover").addClass("saved")
    });

    clip.on( 'mouseover', function ( client, args ) {
      $(this).popover('show')
    });

    clip.on( 'mouseout', function ( client, args ) {
      $(this).popover('hide')
    });
  });

