ruby:
  require 'cocoapods-core'
  cp_version = Pod::CORE_VERSION

css:
  #header {
    min-height: 400px;
  }

  #header h1 {
    font-size: 72px;
  }

  section.dark {
    background-color: #380200;
  }

  section.dark h3 {t
    text-align: center;
    color: white;
  }

  section.white {
    background-color: white;
  }

  section.blue {
    background-color: #4A90E2;
    color: white;
  }

  .tldr p, .tldr h2 {
    display: inline-block;
    margin-bottom: 0;
  }

  .tldr h2 {
    margin-top: 0;
    font-size: 72px;
    padding-right:30px;
  }

  .tldr a {
    float: right;
    margin-top: 19px;
  }

  .button {
    margin-top: 100px;
    background: #4A90E2;
    border-radius: 12px;
    color: white;
    width: auto;
    padding: 10px;
    display: inline-block;
  }

  .button:hover {
    background: #380200;
    text-decoration: none;
    color: white;
  }

  .button:active {
    background: black;
    text-decoration: none;
    color: white;
  }


  a.button span {
    font-size: 36px;
    vertical-align: middle;
  }

  div.download_call_to_action {
    position: relative;
    margin: 0 auto;
    width: 260px;
  }

  .midway div.download_call_to_action a {
    margin-top:20px;
    margin-bottom:20px;
  }

  .finale div.download_call_to_action a {
    margin-top:0;
    margin-bottom:90px;
    width: 270px;
  }

  img.hanging_sock {
    position:absolute;
    right: -74px;
    top: 46px;
  }

  img.hanging_sock#behind {
    transform: rotate(-12deg);
  }

  img.hanging_sock#infront {
    transform: rotate(12deg);
    right: -38px;
    top: 50px;
  }

  p.signature {
    padding-bottom: 8px;
    padding-right: 12px;
    border-bottom: 3px dashed #D2D2D2;
    display: inline-block;
  }


section.title.container.header-section
  article.row
    .col-lg-7.col-sm-12.col-xs-10#header
      h1 CocoaPods...</br>Socks...

#content-wrapper
  section.dark
    .container
      article.row
          p style="text-align:center;"
            a href="https://charitywater.org/" target="_blank"
              img src="/images/charity-drive.png" width="415"

  section.podfile.container.tldr
    article.row
      .col-xs-12
        div
          h2 TLDR:
          p We’re doing crowd-funded socks for charity, using Knitout.<br/>With all profit going to WaterAid.
          a.button.download_button href="https://knitout.com/campaigns/8866"
            div Get CocoaPods Socks <span>$16</span>

  section.water.about-section.white
    .container
      article.row
        .col-sm-6
          markdown:
            CocoaPods was started in 2011. We are a community run project, with no large-scale corporate backing. We’ve previously asked that people donate time, not money. However, with 1.0 so close, we wanted to offer a way to give back, that helps others outside our small community.

        .col-sm-6
          p
            markdown:
              <pre>
              project 'the world'
              target 'My Feed’ do
                pod 'CPSocks’
              end

              post_install do
                water_aid.donate()
              end
              </pre>

  section.midway
    .container
      article.row
        div.download_call_to_action
          a.button.download_button href="https://knitout.com/campaigns/8866"
            div Get CocoaPods Socks <span>$16</span>


  section.about-section.white
    .container
      article.row

        .col-md-8
          p Obviously we love having code sent our way, and we’re being asked more and more how people can financially contribute to CocoaPods. We want to take that energy and make it easy for everyone to help.

        .col-md-4
        p We’re putting all profits directly into WaterAid. It’s a great charity, doing important work.

  section.water.about-section.blue
    .container
      article.row
        .col-lg-6.col-md-6.col-sm-12
          p
            a href="https://charitywater.org/" target="_blank"
              img src="/images/charity-water-2.png" width="294" style="float:right;"

        .col-lg-6.col-md-6.col-sm-12
          markdown:
            Everyone needs clean water.

            WaterAid works with local partners to deliver clean water and toilets and promote good hygiene,
            and campaign to make change happen for
            everyone everywhere.

            Rated 97/100 on the Charity Navigator


  section.about-section.white
    .container
      article.row

        .col-md-6
          markdown:
            We know a bubble when we see one. We see a great oppertunity to get in early on the Cocoa Socks business before Apple comes in and deprecates us with the Socks Packaging Manager.

            So we went to the creators of the infamous Slack socks, and worked with them on designs.

            To grab a pair, jump over to Knitout. They use Stripe to deal with all the payments - so it’s safe and secure.

            We’re excited to be buying our own ones too!

          p.signature
            img src="/images/fabbo_signature.png" width="154"



        .col-md-6
          p Final bit

  section.finale
    .container
      article.row
        .col-sm-12
          p style="text-align:center;"
            div.download_call_to_action
              a.button.download_button href="https://knitout.com/campaigns/8866"
                div OK, you can click now, <span>$16</span>
              img.hanging_sock#behind src="/images/sock-small.png" width="86"
              img.hanging_sock#infront src="/images/sock-small.png" width="86"
