javascript:

  $(document).ready(function(){
  })
  g
css:

  h3.underlined {
    text-align:center;
  }
  
  #content-wrapper ul {
    padding-left:0;
  }
  
  li.result {
    padding:10px;
    background-color:white;
    margin-bottom:12px;
    list-style:none;
    min-height: 64px;
  }
  
  li.result:hover {
    background-color: #eeeeee;
    cursor:pointer;
  }
  
  li.result a {
    display:block;
  }
  
  li.result img {
    float:left;
    height:44px;
    width:44px;
    margin-right:12px;
  }
  
  li.result h3 {
    padding:0;
    margin:0;
    font-size:18px;
    color:black;
    font-weight:normal;
  }

  li.result h4 {
    padding:0;
    margin:0 0 0 0;
    margin-top:4px;
    font-size:18px;
    color:black;
    font-weight:normal;
  }

  li.result h3 em {
    color:rgba(0,0,0,0.3);
  }
  
  li.result h4 em {
    color:#48A4EC;
  }
  
  ul.bash-list {
    height:480px;
    overflow:scroll;
  }
  
  li.triage a {
    display:inline;
  }
  
  li.triage p {
    margin-bottom: 6px;
    margin-top: 6px;
    
  }


script id="top_contributor" type="text/html"
  li.result.large id="{{ username }}"
    img src="{{ avatar_url }}"
    h3 {{ name }} <em>{{username}}</em>
    h4 {{ triages }} Triages, {{ points }} points

script id="recent_triage" type="text/html"
  li.result 
    a href="{{ issue.url }}"
      img src="{{ user.avatar_url }}"
      h3 {{ user.name }} <em>{{user.username}}</em>
      h4 {{ state }} on <em>{{ issue.repository }}\#{{ issue.number }}<em>

script id="sub_triage" type="text/html"
  li.triage
    <p>{{ state }} on <a href="{{ issue.url }}">{{ issue.repository }}\#{{ issue.number }}</a></p>



section.container
  article.row
    col-lg-12.col-sm-12.col-xs-12
      h1 CocoaPods Test Jam
      
#content-wrapper
  section.container
          
    article.row
      .col-sm-12

        markdown:
          ## Elevator Pitch
          
          TLDR/Elevator Pitch: If the community is going to move towards Swift, then let’s make sure that our Objective-C is in order by adding tests to established libraries.
        
          ## Get started
          
          At the moment we are using a spreadsheet with our [known existing pods ](https://docs.google.com/a/haight.io/spreadsheets/d/1JKfCpPMInru5i_vjHcfhPRQEtGT6p7YQx1kYJwKwx6s/edit#gid=0) to keep it easy to help each other out. We're also using this oppertunity to help people get bootstrapped if you're not used to testing your code. You will be in a community of other programmers of varying experience and its a great time to ask questions as you get started.
          
          ## Shared Resources
          
           * [CocoaPods Test Jam Stats](https://cocoapods.org/testjam)
           * [chat.freenode.net/cocoapods](irc://chat.freenode.net/cocoapods)
           * [CocoaPods that use XCTest](https://cocoapods.org/?q=uses%3Axctest*)
           * [Travis CI for iOS](http://www.objc.io/issue-6/travis-ci.html)
           * [objc.io #15 - Testing](http://www.objc.io/issue-15/)
           * [iOS Test Coverage with Coveralls](http://list.her.sh/ios-test-coverage-with-coveralls/)
           * [Quality Coding Archives](http://qualitycoding.org/archives/)
           * [Dependency Injection, iOS and You](https://www.bignerdranch.com/blog/dependency-injection-ios/)
           * [Spreadsheet](https://docs.google.com/a/haight.io/spreadsheets/d/1JKfCpPMInru5i_vjHcfhPRQEtGT6p7YQx1kYJwKwx6s/edit#gid=0)
          
          ## IRC setup guide
          
          We will be using IRC to chat, and to interact with each other. We will be keeping stats on what's going on in a [google spreadsheet](https://docs.google.com/spreadsheets/d/1JKfCpPMInru5i_vjHcfhPRQEtGT6p7YQx1kYJwKwx6s/edit#gid=0) (I know, but it's pragmatic.)

          If you are new to IRC, you can connect either via [Textual](https://itunes.apple.com/gb/app/textual-5/id896450579?mt=12), [Limechat](https://itunes.apple.com/gb/app/limechat/id414030210?mt=12), a [web-IRC adaptor](https://webchat.freenode.net) or any client of your choice. We will be using the channel [#cocoapods](irc://chat.freenode.net/cocoapods) on freenode.net.
          
          Setting up Textual looks like [this screenshot](http://cl.ly/image/0P1m1S0y2E3n/Screen%20Shot%202015-04-18%20at%208.11.09%20AM.png).
          
          ### Community Guidelines
          
          We all want a healthy event, we're using the [CocoaPods Code of Conduct](https://cocoapods.org/legal) around the events, and the [Recurse Social Rules](https://www.recurse.com/manual#sub-sec-social-rules) for the IRC channel.
          