|
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29866548-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  
  <!-- Piwik -->
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//ec2-54-81-98-241.compute-1.amazonaws.com/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', 3]);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript><p><img src="//ec2-54-81-98-241.compute-1.amazonaws.com/piwik.php?idsite=3" style="border:0;" alt="" /></p></noscript>


#search_container.container
  section.row
    #search.col-lg-12.col-sm-12.col-xs-12
      form onkeypress="return event.keyCode != 13;"
        fieldset
          input.query#pod_search type="search" placeholder="SEARCH*" autofocus=true autocomplete="off"
          span.amount
          span#search_loupe
          p * Type here to search by name, version, author, keywords, summary, and dependencies.
