ruby:
  team = data.dev_team


css:

  h1 {
    font-size: 3.8em;
    font-weight: normal;
  }
  
  .dev-team {
    margin:16px 0;
    text-align:center
  }

  .card {
    background-color:white;
    padding:16px;
    position:relative;
  }

  .dev-team .card {
      padding-top:200px;
  }

  .card .background {
    background-color:grey;
    background-size:cover;
    background-position: center center;
    width:100%;
    height:160px;
    position:absolute;
    top:0;
    left:0px;
  }

  .card img.twitter_avatar {
    top:80px;
    width:136px;
    height:136px;
    position:absolute;
    left:50%;
    margin-left:-68px;
    border: 4px solid white;
    border-radius: 10%;
    -moz-border-radius: 10%;
    -webkit-border-radius: 10%;
  }


  .sub-project {
    position:relative;
    margin:16px 0;
  }

  .sub-project:hover h2 {
    opacity:0;
  }

  .sub-project ul {
    margin-left:0;
    padding-left:0;
    text-align:center;
  }

  .sub-project li {
    list-style-type:none;
    padding-left:2px;
    padding-top:2px;
    display:inline-block;
  }

  .sub-project h2 {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;

    text-align:center;
    height:30%;
    font-size:4em;
    color:white;

    -webkit-transition:opacity 0.3s ease-in-out;
    -moz-transition:opacity 0.3s ease-in-out;
    -o-transition:opacity 0.3s ease-in-out;
    transition:opacity 0.3s ease-in-out;

  }
  
  section.podfile .row {
    padding: 0;
  }
  
  section.podfile h4 {
    margin-left: 1.8em;
    color: #D2C5C1;
  }
  
  section.podfile .line-numbers-border {
    background: #D2C5C1;
    margin-left: 1.7em;
    position: absolute;
    height: 100%;
    width: 1px;
  }
  
  section.podfile pre {
    border: none;
  }
  
  section.podfile pre .line-numbers {
    color: #D2C5C1;
    display: block;
    float: left;
    margin: 0 1em 0 -1em;
    text-align: right;
  }
  
  section.podfile pre .line-numbers span {
    display: block;
    padding: 0 .5em 0 1em;
  }

section.container
  article.row
    div.col-lg-8.col-sm-10.col-xs-10
      h1 Get on with building your App, not duplicating code.

#content-wrapper
  section.podfile.container
    article.row
      div.col-lg-6.col-md-6.col-sm-12.col-xs-12
        h2 Define once, update easily

        markdown:
          Create a Podfile describing the code you'd like to pull in. Run `pod install` and get the same versions as everyone else in your team.

        markdown:
          CocoaPods makes updating a single dependency easy via `pod update FLKAutoLayout` or update all of them with just `pod update`.

      div.col-lg-6.col-md-6.col-sm-12.col-xs-12.podfile
        div.line-numbers-border

        h4 PODFILE

        markdown:
          <pre class="highlight"><span class="c"># open source</span>
          <span class="c">source</span> <span class="s">'https://github.com/CocoaPods/Sepcs.git'</span>
          
          <span class="c">pod</span> <span class="nv">'FLKAutoLayout'</span>
          <span class="c">pod</span> <span class="nv">'ISO8601DateFormatter', '0.7'</span>
          <span class="c">pod</span> <span class="nv">'AFNetworking', '~> 2.0'</span>
          
          <span class="c"># my company</span>
          <span class="c">source</span> <span class="s">'https://github.com/artsy/Specs.git'</span>
          
          <span class="c">pod</span> <span class="nv">'Artsy+UIColors'</span>
          <span class="c">pod</span> <span class="nv">'Artsy+UIButtons'</span>
          
          <span class="k">target</span> <span class="nv">'AppTests'</span> <span class="k">do</span>
            <span class="c">pod</span> <span class="nv">'FBSnapshotTestCase'</span>
            <span class="c">pod</span> <span class="nv">'Quick'</span>
            <span class="c">pod</span> <span class="nv">'Nimble'</span>
          <span class="k">end</span></pre>

        javascript:
          (function() {
              var pre = document.getElementsByTagName('pre');
              var pl = pre.length;
              for (var i = 0; i < pl; i++) {
                  pre[i].innerHTML = '<span class="line-numbers"></span>' + pre[i].innerHTML;
                  var num = pre[i].innerHTML.split(/\n/).length;
                  for (var j = 0; j < num; j++) {
                      var line_num = pre[i].getElementsByTagName('span')[0];
                      line_num.innerHTML += '<span>' + (j + 1) + '</span>';
                  }
              }
          })();

  section.container
    article.row
      - for dev in team do

        - if team.index(dev) % 2 == 0
          .clearfix.visible-xs

        - if team.index(dev) % 3 == 0
          .clearfix.hidden-xs

        col-lg-4.col-sm-4.col-xs-6.dev-team
          .card
            .background style="background-image:url(#{dev.twitter_banner_url})"

            a href="https://twitter.com/#{dev.twitter_username}"
              img.twitter_avatar src=dev.twitter_profile_url

            h2 = dev.name

            - if dev.twitter_username
              a href="https://twitter.com/#{dev.twitter_username}" class="twitter-follow-button" data-show-count="false" data-lang="en" = "Follow @#{dev.twitter_username}"

            p = dev.cocoapods_bio

    article.row

      h2 Contributors to the CocoaPods Projects

      col-lg-12.col-sm-12.col-xs-12.sub-project
        .card
          ul
            - for contributor in data.contributors do
              li
                a href="http://www.github.com/#{contributor.name}"

                  img src="#{contributor.avatar_url}&size=96" width="48" height="48" title="#{contributor.name} - #{contributor.commits} commits to core projects"
                .clearfix
