ruby:
  team = data.dev_team


css:

  h1 {
    font-size: 3.8em;
    font-weight: normal;
  }
  
  .dev-team {
    margin:16px 0;
    text-align:center
  }

  .card {
    background-color:white;
    padding:16px;
    position:relative;
  }

  .dev-team .card {
      padding-top:200px;
  }

  .card .background {
    background-color:grey;
    background-size:cover;
    background-position: center center;
    width:100%;
    height:160px;
    position:absolute;
    top:0;
    left:0px;
  }

  .card img.twitter_avatar {
    top:80px;
    width:136px;
    height:136px;
    position:absolute;
    left:50%;
    margin-left:-68px;
    border: 4px solid white;
    border-radius: 10%;
    -moz-border-radius: 10%;
    -webkit-border-radius: 10%;
  }


  .sub-project {
    position:relative;
    margin:16px 0;
  }

  .sub-project:hover h2 {
    opacity:0;
  }

  .sub-project ul {
    margin-left:0;
    padding-left:0;
    text-align:center;
  }

  .sub-project li {
    list-style-type:none;
    padding-left:2px;
    padding-top:2px;
    display:inline-block;
  }

  .sub-project h2 {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;

    text-align:center;
    height:30%;
    font-size:4em;
    color:white;

    -webkit-transition:opacity 0.3s ease-in-out;
    -moz-transition:opacity 0.3s ease-in-out;
    -o-transition:opacity 0.3s ease-in-out;
    transition:opacity 0.3s ease-in-out;

  }

section.container
  article.row
    div.col-lg-8.col-sm-10.col-xs-10
      h1 Get on with building your App, not duplicating code.

#content-wrapper
  section.container
    article.row
      - for dev in team do

        - if team.index(dev) % 2 == 0
          .clearfix.visible-xs

        - if team.index(dev) % 3 == 0
          .clearfix.hidden-xs

        col-lg-4.col-sm-4.col-xs-6.dev-team
          .card
            .background style="background-image:url(#{dev.twitter_banner_url})"

            a href="https://twitter.com/#{dev.twitter_username}"
              img.twitter_avatar src=dev.twitter_profile_url

            h2 = dev.name

            - if dev.twitter_username
              a href="https://twitter.com/#{dev.twitter_username}" class="twitter-follow-button" data-show-count="false" data-lang="en" = "Follow @#{dev.twitter_username}"

            p = dev.cocoapods_bio

    article.row

      h2 Contributors to the CocoaPods Projects

      col-lg-12.col-sm-12.col-xs-12.sub-project
        .card
          ul
            - for contributor in data.contributors do
              li
                a href="http://www.github.com/#{contributor.name}"

                  img src="#{contributor.avatar_url}&size=96" width="48" height="48" title="#{contributor.name} - #{contributor.commits} commits to core projects"
                .clearfix
