css:
  ul#projects li {
    padding:20px;
  }

  ul#projects li a {
    margin:0;
  }

  ul#projects li p {
    margin: 8px 0;
  }

#content-wrapper
  .homepage_container.container

    section.row

      .col-md-8.col-lg-8.col-sm-8.col-md-offset-2.col-lg-offset-2.col-sm-offset-2.intro
        h3.underlined Summer of code 2015
        <div class="header-horizontal-divider"><div class="index-arrow-down"></div><div class="index-enclosed-arrow-down"></div></div>

        markdown:

          We're participating in [Google's Summer of Code 2015](https://www.google-melange.com/gsoc/homepage/google/gsoc2015). This is a great chance to work on Open Source and to get paid doing it!

          You'll get to work with [mentors](/about) who have worked on all aspects of the CocoaPods ecosystem, and to improve tooling that positively affects almost every iOS / Mac application.

          We currently have the following projects for the summer:

        - for project in data.summer_of_code_projects do

          h3 = project.project_name
          p = project.project_bio

          ul#projects
            - for subproject in project.projects
              li
                p = "#{subproject.repos} - #{subproject.title}"
                a
                  a href="#{subproject.issue_url}" = subproject.issue_url.split("github.com/")[-1].gsub("/issues/", "#")
                p = subproject.description
                hr

        markdown:
          This is currently a work in progress.
