    
article class="col-md-4 minor col-md-offset-2"
  h4 Website and API by
  p
    |<a href="http://twitter.com/hanke">Florian Hanke</a>, 
    | The CocoaPods Dev Team and 
    | <a href="http://twitter.com/manfreds">Manfred Stienstra</a>.

article class="col-md-4 minor"

  h4 Design by 
  p
    | <a href="http://andy-myers.co.uk">Andy Myers</a>, 
    | <a href="http://twitter.com/hanke">Florian Hanke</a> and 
    | <a href="http://twitter.com/maxsteenbergen">Max Steenbergen</a>

.clearfix