---
title: Push Notifications
---

p This page is a test for push notifications.

javascript:
  window.safari.pushNotification.requestPermission('https://localhost:4567/push/', 'web.org.cocoapods.push', null, function(permission) { console.log(permission); });
